.home {
    @include flexBox(flex,column,center,center);

    &__title {
        color: $c-button-orange;
        font-size: 2.8rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        padding: 4rem 0;
    }

    .filters {
        padding: 2rem;
        width: 70%;

        &__label {
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: .3px;
            margin: 0 1rem;
        }

        &__select {
            outline: none;
            padding: .5rem;
        }
    }
    .products-list {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        @include flexBox(flex, row, space-between, center);
        flex-wrap: wrap;
    
        .card {
            width: 270px;
            margin: 1rem 0.1rem;
            overflow: hidden;
            text-align: center;
            background-color: #fff;
            border-radius: 1.5rem;
            box-shadow: 0 0 3px 2px rgba(225, 225, 225, 0.442);
            transition: box-shadow .3s ease-in;

            &:hover {
                box-shadow: 4px 4px 0px 2px rgba(0, 0, 0, 0.441);
            }
    
            &:hover .card__data .card__title {
                color: #0084ffea;
            }

            &:hover img{
                transform: scale(1.1);
            }
    
            &__imgContainer {
                width: 230px;
                aspect-ratio: 4 / 3;
                margin: 1rem auto;
                @include FlexCenter;
                
                & img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: contain;
                    transition: all .3s ease-in;
                }
            }
    
            &__data {
                & .card__title {
                    font-size: 1.8rem;
                    font-weight: 500;
                    padding: 0 2.5rem;
                    margin-bottom: 1rem;
                    transition: color .3s ease-in;
                }
    
                & .card__price {
                    font-size: 2rem;
                }
            }
    
            &__btn {
                width: 100%;
    
                & .btn {
                    width: 100%;
                    padding: 1rem;
                    margin-top: 1rem;
                    font-size: 1.8rem;
                    font-weight: bold;
                    border-radius: 0 0 1.5rem 1.5rem;
                    border: none;
                    color: $c-soft-white;
                    background-color: $c-button-blue;
                    transition: background-color .3s ease-in-out;
    
                    &:hover {
                        background-color: #0067d5;
                    }
                }
            }
        }

        & .spinner {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 9px;
                height: 9px;
                display: flex;
                justify-content: center;
                align-items: center;
              
              
              & div {
                position: absolute;
                width: 50%;
                height: 150%;
                background: #000000;
                transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
                animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
              }
              
              & div:nth-child(1) {
                --delay: 0.1;
                --rotation: 36;
                --translation: 150;
              }
              
              & div:nth-child(2) {
                --delay: 0.2;
                --rotation: 72;
                --translation: 150;
              }
              
              & div:nth-child(3) {
                --delay: 0.3;
                --rotation: 108;
                --translation: 150;
              }
              
              & div:nth-child(4) {
                --delay: 0.4;
                --rotation: 144;
                --translation: 150;
              }
              
              & div:nth-child(5) {
                --delay: 0.5;
                --rotation: 180;
                --translation: 150;
              }
              
              & div:nth-child(6) {
                --delay: 0.6;
                --rotation: 216;
                --translation: 150;
              }
              
              & div:nth-child(7) {
                --delay: 0.7;
                --rotation: 252;
                --translation: 150;
              }
              
              & div:nth-child(8) {
                --delay: 0.8;
                --rotation: 288;
                --translation: 150;
              }
              
              & div:nth-child(9) {
                --delay: 0.9;
                --rotation: 324;
                --translation: 150;
              }
              
              & div:nth-child(10) {
                --delay: 1;
                --rotation: 360;
                --translation: 150;
              }
              
              @keyframes spinner-fzua35 {
                0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
                  transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
                }
              
                50% {
                  transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
                }
              }
        }
    }
}