@mixin flexBox ($d, $fd, $jc, $ai) {
    display: $d;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
};

@mixin FlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
};